.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.container button {
  font-size: 24px;
  margin: 5px;
}

table {
  border-collapse: collapse;
}

th {
  padding: 5px;
  background-color: #3c5186;
  color: #fff5de;
}

td {
  padding: 5px;
}
